#hien_thi_khach_hang thead th{
	border: 2px solid black;
	text-align: center;
	background: #D2D08D;
}

#hien_thi_khach_hang tbody td{
	border: 2px solid black;
	text-align: center;
}

#hien_thi_khach_hang tbody tr:nth-child(even){
	background: #E6E5B3;
}
#hien_thi_khach_hang .table-responsive{
	height: 100vh !important;
	overflow: auto;
}

form input{
	margin-bottom: 10px !important;
}


